/* CSS declarations go here */

.scorecard {
	border-collapse: collapse;
}

.scorecard th, .scorecard td {
	padding: 5px;
	border: 1px solid #CCC;
}

th { text-align: left; }

.scorecard input, .new_course input {
	width: 50px;
}