/* CSS declarations go here */

.scorecard {
	border-collapse: collapse;
}

.scorecard th, .scorecard td {
	padding: 5px;
	border: 1px solid #CCC;
}

th { text-align: left; }

.data_input input, .add_course input {
	width: 30px;
}

.newcourse_tee:nth-of-type(1) .newcourse_removetee {
  display: none;
}